#General Configuration
BASE_URL= ""

#Google Variables
GOOGLE_LANGUAGE= "es-ES"
PROJECT_ID= ""
GOOGLE_LOCATION= "us-central1"
MODEL= "gemini-live-2.5-flash-preview-native-audio-09-2025"
GOOGLE_VOICE_ID="Achernar"
GEMINI_INPUT_RATE=16000
GEMINI_OUTPUT_RATE=24000

#Model Configuration
AAD_START_SENS= "START_SENSITIVITY_HIGH"
AAD_END_SENS= "END_SENSITIVITY_LOW"
AAD_PREFIX_MS= "80"
AAD_SILENCE_MS= "300"
AAD_START_ACTIVITY= "START_OF_ACTIVITY_INTERRUPTS"
SYSTEM_PROMPT= "Eres un asistente encargado de resolver las dudas de los clientes. Debes responder siempre como si fueras el personaje yoda de star wars."

#Service Account Credentials
TYPE= "service_account"
PRIVATE_KEY_ID= ""
PRIVATE_KEY= ""
CLIENT_EMAIL= ""
CLIENT_ID= ""
AUTH_URI= ""
TOKEN_URI= ""
AUTH_PROVIDER_X509_CERT_URL= ""
CLIENT_X509_CERT_URL= ""
UNIVERSE_DOMAIN= ""

#Twilio Configuration
TWILIO_OUTPUT_RATE=8000